*, *::after, *::before{
  font-family: $font;
  scroll-behavior: smooth;
}

html{
  font-size: 18px;
}

body{
  background: $background;
  color: $color-white;
}


@media(min-width: 1400px){
  .container{
    max-width: 1450px;
  }
}
